<div class="wrapper">


    <p style="padding-top: 15px;
/* margin-left: 15px; */
padding-left: 27px;
font-size: 13px;
font-weight: 700;">Showing {{count}} results</p>


    <div class="row">

        <div class="column" *ngFor="let data of electronics">
            <div class="product-card">
                <img class="prod-img" src="{{data.images[0]}}">
                <p class="prod-title">{{data.title}}</p>
                <p class="prod-price">{{data.price}}$</p>

                <div class="user-btns">
                    <button class="add-to-cart-btn">Add to cart</button>
                    <img class="wish-icon" src="../../../assets/images/heart.png">
                </div>
            </div>
        </div>
    </div>


</div>