<div class="header">



    <div class="section1"></div>

    <div class="section2">

        <a id="logo" routerLink="/">-<span id="logo-ele">E</span>Store-</a>

        <div class="categories">

            <a routerLink="electronics" class="cat-item" href="">Electronics</a>
            <a class="cat-item" href="">Shoes</a>
            <a class="cat-item" href="">Clothes</a>
            <a class="cat-item" href="">More Products</a>


        </div>
    </div>


    <div class="section3">
<input id="search-bar" type="text" placeholder="Search product">
<img id="search-icon" class="icons" src="../../../assets/images/search.png" (click)="search()">
<img class="icons" src="../../../assets/images/heart.png">
<img class="icons" src="../../../assets/images/user.png">
<img class="icons" src="../../../assets/images/shopping-cart.png">

    </div>





</div>