/* You can add global styles to this file, and also import other style files */

:root{
    --black-color:black;
    --maroon-color: maroon;
    --white-color:white;

}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}